$primary: #dc5025;
$secondary:     #dc5025;
$success:       #dc5025;
$info:          #dc5025;
$warning:      #dc5025;
$danger:       #dc5025;
$light:         #dc5025;
$dark:          #dc5025;

@import '../node_modules/bootstrap/scss/bootstrap';